/* Estilo principal */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Container principal */
.container {
  width: 98%;
  max-width: 1600px; /* Aumento da largura máxima */
  margin: 10px auto;
  overflow: hidden;
}

/* Título principal */
h1 {
  text-align: center;
  color: #0056b3;
  margin-bottom: 5px;
  font-size: 28px; /* Aumento do tamanho */
  font-weight: bold;
}

/* Estilos para os filtros */
.filtros {
  background-color: #e9e9e9;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filtros label, .filtros input, .filtros button {
  margin: 5px;
  font-size: 14px;
}

/* Estilos para as seções de dados */
.secao {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Melhor distribuição dos elementos */
}

.secao h2 {
  width: 100%;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
  font-size: 22px; /* Aumento do tamanho para destaque */
  font-weight: 600;
}

/* Estilo para cada filial */
.filial {
  flex: 1;
  margin: 5px;
  min-width: 180px; /* Ajuste do tamanho mínimo */
  display: flex;
  flex-direction: column; /* Direção da flex para melhor organização */
}

.filial h3 {
  color: #555;
  margin: 0 0 5px 0;
  font-size: 16px;
}

.kpi-item, .saldo-banco-container div {
  margin: 2px 0;
  color: #666;
  font-size: 14px;
  display: flex;
  justify-content: space-between; /* Alinhamento dos itens */
  align-items: center; /* Centralização vertical */
}

/* Estilos para o gráfico */
.grafico {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para o rodapé */
.rodape {
  text-align: center;
  padding: 10px;
  background-color: #e1e1e1;
  color: #333;
  margin-top: 20px;
}

.rodape p {
  margin: 0;
  font-size: 16px;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
  .filial {
    width: 100%;
  }

  .secao h2 {
    font-size: 18px;
  }

  .filtros label, .filtros input, .filtros button {
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }
}

/* Responsividade para telas médias */
@media (min-width: 601px) and (max-width: 1199px) {
  .filial {
    width: calc(50% - 10px); /* Ajuste para duas colunas */
  }
}

/* Responsividade para telas grandes */
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }

  .filial {
    width: calc(25% - 10px); /* Ajuste para quatro colunas */
  }
}
